{% extends 'padre.html' %}

{% block contenido_cambiante %}

<div class="container">        
        <h2>Buscar Libro</h2>
        <form action="{% url 'buscar' %}" method="get">{% csrf_token %}
            <p><input type="text" name="nombre"></p>
            <button type="submit">Buscar</button>
        </form>
        {% if libros %}
            <ul>
                {% for libro in libros %}
                    <li>{{ libro.nombre }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron libros.</p>
        {% endif %}
    </div>
    
{% endblock contenido_cambiante %}