{% extends 'padre.html' %}

{% block contenido_cambiante %}
    
<div class="container">
        <h2>Peliculas cargadas</h2>
        <ul>
            <li>
                <a href="{% url 'agregar_pelicula' %}">Agregar Peli</a>
            </li>
            <li>
                <a href="{% url 'buscar_pelicula_form' %}">Buscar Peli</a>
            </li>
        </ul>
        <ul>
            {% for Pelicula in peliculas %}
            <li>{{Pelicula.nombre}}</li>
            {% endfor %}
        </ul>
    </div>

    
    
{% endblock contenido_cambiante %}